.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.NavigationItems li{
    margin : 0 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;

}

.NavigationItems a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active{
    color : #40A4C8;
}

@media(min-width : 500px){
 
    .NavigationItems{
        flex-flow: row;
    }
    
    .NavigationItems li{
        margin : 0;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }
    
    .NavigationItems a{
        color: white;
        padding: 16px 10px;
        height: 100%;
        border-bottom: 4px solid transparent;

    }
    
    .NavigationItems a:hover,
    .NavigationItems a:active,
    .NavigationItems a.active{
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color : white;
    }
}