.SideDrawerButton
{
    width :50px;
    height: 100%;
    padding : 15px 0;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.SideDrawerButton
 div{
    height: 3px;
    background-color: white;
    width: 100%;
}

@media(min-width : 500px){
    .SideDrawerButton
    {
        display: none;
    }
}