.Button{
    border: none;
    font: inherit;
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
    outline: none;
    color: white;
}

.Button:first-of-type{
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled{
    color: #ccc;
    cursor:not-allowed;
}

.Success{
    color: #5c9210;
}

.Cancel{
    color : #944317
}